body {
  background: #bec2c4;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  background-color: rgb(67, 63, 63);
  color: white;
  height: 75px;
  display: flex;
}
.title-name {
  margin-left: 50px;
}
.body_ {
  background-color: aliceblue;
  width: 700px;
  height: 75%;
  display: flex;
}
.card {
  margin-top: 10px;
}
.slack_img {
  margin-top: -9px;
}
.img-div {
  display: flex;
  margin-bottom: 40px;
  margin-left: 20px;
}
.info {
  margin-left: 20px;

}
.img-div_ {
  height: 450px;
  width: 450px;
}
h2 {
  margin-left: 20px;
  /* margin-top: 20px; */
}
a {
  text-decoration: none;
}
